* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px;
}

fieldset {
    margin: 20px;
    padding: 20px;
}

textarea {
    width: 80%;
    height: 200px;
    padding: 20px;
    resize: none;
}